<h1>Modelos</h1> 
<table>
    <thead>
      <tr>        
        <th>Numero</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>    
    <tbody>
      <tr ng-repeat="modelo in modelos" ng-style="{color:($odd?'red':'green')}">        
        <td>{{modelo.id}}</td>
        <td>{{modelo.nombre}}</td>
        <td><a href="#modelo/edit/{{modelo.id}}">Editar</a></td>
        <td><a href="" ng-click="del(modelo.id,url2)">Eliminar</a></td>        
      </tr>
    </tbody>
    </table>