<h1>Marcas</h1> 
<table>
    <thead>
      <tr>        
        <th>Numero Tuc</th>
        <th>Numero motor</th>
        <th>Numero Patente</th>
        <th>Numero Chasis</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Eliminar</th>
        <th>Editar</th>
      </tr>
    </thead>    
    <tbody>            
      <tr ng-repeat="movil in moviles">
        <th>{{movil.tuc}}</th>
        <th>{{movil.motor}}</th>
        <th>{{movil.patente}}</th>
        <th>{{movil.chasis}}</th>
        <th>{{movil.marca.nombre}}</th>
        <th>{{movil.modelo.nombre}}</th>
        <th>{{movil.tipo.nombre}}</th>
        <th><a href="#movil/edit/{{movil.tuc}}">Editar</a></th>
        <th><a href="" ng-click="del(movil.tuc, url2)"></a>Eliminar</th>
        <th></th>
      </tr>
    </tbody>
    </table>
